extends ../../layouts/default.pug

block head
    title 會員專區

block content
    .bg01(style="padding: 110px 0;")
        h1(style="display:none") 會員專區
        .container
            include blocks/login_form.pug

