.introduction_about_block
  .introducer_block.mx-auto
    h2.title.text-center.text-white 關於本善
    .row
      .col-md-6
        .introducer_img.text-center.mb-3
          img(src="/images/introduction_about_left.png")
      .col-md-6.introduction_right_block.text-center
          img(src="/images/introduction_about_right.png")
          p.h2.font-weight-normal 秉本善之初衷
            br
            | 築製善之傑作

    .funder-word.mt-5
      h3.title.text-white.text-center.d-flex.align-items-center 一位敦泰員工眼中的本善故事
      .body.h4
        p 堅毅的外表下，隱藏著細膩的內在，是敦泰的形象；與人為本，與環境為善，是本善的起源。
        p 望著建築外觀，給人一種雄壯而有氣勢的感受，像座城堡堅強穩固，給人安全感，然而極具反差的是其細膩而體貼的內在，充分的反映在我們的建築工法上面，一磚一瓦都表現出敦泰的用心及細心。
        p 落日餘暉下，石椅旁列著兩道人影，一位身著碎花洋裝的奶奶，面容慈祥帶著笑容正從容不迫地朗讀著，一旁的孫子一面富有興趣的聽，一面零零落落的附和著，祖孫倆人的聲音交錯，為寧靜的午後增添了一點生氣，祖母諄諄教誨的不是地理天文，而是為人最基本的與人為善的本心。
        p 柯比意曾說：「住宅，是居住的機器」，我們認為，住宅更是生活的容器。2017年，我們完成了敦泰的第一個作品：敦泰本善。本善，是一個愛家、愛建築者的創作，是國家級的得獎作品，是一段與祖母的諄諄教誨故事和本心，是一個企圖經營永續企業品牌的公司之創業作，一個曾是二代、三代、卻也是創業者的理想實踐，它被以科學和效率的方式執行和管理，並以真誠的方式全程地紀錄和公開其成長的歷史。
        p 我們的創辦人，生於中部建築世家，從小耳濡目染之下，對建築有了興趣，之後旅美十多年，拜訪過各地有名的建築作品，有了自己的想法，傳承著家學淵源，融入了創新的想法，帶領著一群菁英團隊創立了敦泰建設，性格及教育深深影響了一個人的做事態度，他精雕細琢，因追求完美而堅持，也因堅持而造就完美，秉持著善念，將自己所學的、所擁有的資源充分運用，以真誠、用心的態度建造心目中理想的莊園，並樂於將這份理想分享出去。本善不只是一棟建築，更是一件做品，一篇故事！

