.introduction_brand_block
  .container
    h2.title.text-center.mb-3 敦泰本善
    p.brand_content.text-center 以本善為首案命名，銘誌祖母的諄諄教誨，
      br
      | 與人為善的本心，始終秉持良善謙和，
      br
      | 永不忘本，銘記本善初衷。本於初衷，臻於至善。
    .row.mt-5.border_t_b.pt-4.pb-4.brand_3_col.mb-3
       .col-md-4
         .box
           h5.mb-3 地方本善
           p 台中市西屯區西苑213號
           p 下一個七期，下一個生活上的第一。
             br
             | 十二期重劃區，近水湳經貿園區。
             br 
             | 臨生態住宅區，西苑路/西苑三街。
       .col-md-4.border_r_l
         .box
           h5.mb-3 規劃本善
           p 12戶全齡化電梯別墅
             br
             | 地坪40-55坪建坪百坪以上

           p 三分鐘74號道，十分鐘高鐵，
             br
             | 緊鄰新光遠百，洽公休閒南北通達。
       .col-md-4
         .box.map_wrap
            .map_image.mb-3.text-center
              img.img-responsive(src="/images/introduction_map.png")
            .map_link.text-center
              a(href="javascript:;") 查看地圖

         