.introduction_sider_block
  .container
    h2.title.text-center.mb-5 世族品味  名家標準
    .slideshow_wrapper.mb-5
      .bxslider
          a(href="/")
              img(src='./images/introduction_sider.png')
          a(href="/")
              img(src='./images/introduction_sider.png')
          a(href="/")
              img(src='./images/introduction_sider.png')
    p.text-center 一邸之行，有石者運從自然造化，
    p.text-center 內外萬端，吉光者自如片羽燦燦。
