.about-customer{
  background-color: $brown-3;
  background-image: url('/images/bg01.png');
  padding: 85px 0;
  .customer-block{
    h2.title{
      margin: 30px 0;
    }
    .text-wrap{
      margin-bottom: 35px;
      p{
      }
    }
    .description{
     margin-bottom: 80px;
    }
    h3.title{
      word-break: keep-all;
      @include media-breakpoint-up(xl){
      }
        overflow: hidden;
        margin-bottom: 46px;
        &:before {
          margin-right: 30px;
          display: block;
          background: #fff;
          content: '';
          height: 1px;
          width: 100%;
        }
        &:after {
          margin-left: 30px;
          display: block;
          background: #fff;
          content: '';
          height: 1px;
          width: 100%;
        }
    }
    .reply{
    }
  }
}
.customer-banner{
  padding-bottom: 30px;
  .text{
    @include media-breakpoint-up(xl){
    }
  }
}