.about-block-ideals{
  background: #E2DED3;

  .menu.tab {
    ul {
      li +li {
        &:before{
          background: #4E413B;
        }
      }
      li {
        background: #fff;
        a {
          color: #4E413B;
        }
      }
      li.active,li:hover{
        background: #4E413B;
        +li {
          &:before{
            display: none;
          }
        }
        a{
          color: #fff;
        }
      }
    }
  }

  .bg{
    position: relative;
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 80%;
      background: #857671;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
