.contact_content_wrapper {
  color: white;

  h1 {
  }

  .description {
    text-align: center;
    margin-bottom: 55px;
  }

  .row_wrapper {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 65px 0;

    .max-width {
      max-width: 975px;
      margin: 0 auto;

      .row {
        margin: -15px;

        > * {
          padding: 15px;

          .name {
            margin-bottom: 20px;
          }

          .address,
          .e_mail,
          .fax,
          .phone,
          .service {
          }
        }
      }
    }
  }

  .contact_link {
    margin-top: 65px;
    text-align: center;

    a {
      // line-height: 16px;
      color: white;
      padding: 12px 25px;
      border: 2px solid white;
      border-radius: 60px;

      &:hover {
        opacity: .5;
      }
    }
  }
}
