.login_form_block {
  max-width: 410px;
  margin: 0 auto;
  text-align: center;

  .form_wrapper {
    img {
      display: block;
      margin: 0 auto 100px;
    }

    .vip_link {
      margin-bottom: 40px;

      a {
        display: block;
        font-size: 20px;
        line-height: 20px;
        background-color: #333333;
        color: white;
        padding: 15px 0;
        border-radius: 10px;

        &:hover {
          background-color: white;
          color: #333333;
        }
      }
    }

    form {
      .field_wrap {
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        &:first-child {
          margin-bottom: 20px;
        }

        label {
          position: absolute;
          left: 0;
          max-width: 115px;
          width: 100%;
          height: 100%;
          background-color: $primary;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          color: white;
        }

        input {
          height: 40px;
          width: 100%;
          padding: 0 10px 0 120px;
          font-size: 20px;
          outline: none;
          border: none;

          &:focus {
            outline: none;
          }
        }
      }

      .form_actions {
        margin-top: 50px;

        input {
          font-size: 16px;
          line-height: 16px;
          background-color: #333333;
          color: white;
          padding: 10px 35px;
          border-radius: 60px;
          border: none;
          cursor: pointer;
          transition: all .5s;

          &:hover {
            background-color: white;
            color: #333333;
          }
        }
      }
    }
  }
}
