mixin card04(obj)
  .card04.bg-white
    .row
      .col
        .block-wrap.d-flex.justify-content-lg-between.flex-column.flex-lg-row
          .wrap.order-lg-1
              .field
                img.img.img-fluid(src=obj.image)
          .wrap.p-2.px-lg-5.order-lg-0
            h3.title.text-primary.h3.font-weight-normal= obj.title
            .list-wrap
              ul.items.pl-0.h4.font-weight-normal
                each item in obj.list
                  li.item.d-block.mb-3= item
          
