mixin cover-banner(src, px)
    .banner(style=`margin-bottom:60px ;min-height: ${px};background-image: url('${src}'); background-repeat: no-repeat;background-position: center center;background-size:cover;`)