.brand_bg{
  background-color: #E2DED3;
   padding:60px 15px;
   
}

.brand_block{
  h2.title{
    margin-bottom: 20px;
    color:#EA5717;
  }
  p{
    line-height: 35px;
    margin-bottom: 20px;
    color:#857671;
  }
  .brand_btn{
    margin-top:30px;
    a{
      color:#EA5717;
      border:2px solid #EA5717;
      padding:10px 30px;
      border-radius: 25px;
      display: inline-block;
      &:hover{
        background-color: #EA5717;
        color:#fff;
        text-decoration: none;
      }
    }
  }
}