.login_form_block
    .form_wrapper
        img(src="./images/LoginPageLogo.png", alt="", width="360")
        .vip_link
            a(href="/") 住戶VIP專區
        form(action="", method="")
            .field_wrap
                label(for="username") 帳號
                input#username(type="text", name="username")
            .field_wrap
                label(for="pass") 密碼
                input#pass(type="password", name="pass")
            .form_actions
                input(type="submit", value="登入")