.brand_bg
  .brand_block.container
    h2.title.text-center 敦泰本善
    p.h3.font-weight-normal.text-center 以本善為首案命名，銘誌祖母的諄諄教誨，
      br
      | 與人為善的本心，始終秉持良善謙和，
      br
      | 永不忘本，銘記本善初衷。本於初衷，臻於至善。
    .brand_img.text-center(data-aos="flip-up" data-aos-duration="2000")
      img.img-responsive(src="../../../images/home_02_img.png")
    .brand_btn.h3.font-weight-normal.text-center
      a(href="./introduction.html") 了解更多


  
