include ../../../mixin/card02.pug

-
 var idealDatas = {
  1:{ 
      title: '<div>綠美圖</div><div>將成台中新地標</div>', 
      image: '../../../images/card02_01.png',
      date: '2018.03.30', 
      link: 'https://www.google.com.tw/'
    },
  2:{ 
      title: '<div>台中綠美圖</div><div>讓人不自覺想進來</div>', 
      image: '../../../images/card02_02.png',
      date: '2018.03.30', 
      link: 'https://www.google.com.tw/'
    },
  3:{ 
      title: '<div>西苑高中</div><div>圖書館美化牆</div>', 
      image: '../../../images/card02_03.png',
      date: '2018.03.30', 
      link: 'https://www.google.com.tw/'
    },
 }


.block-ideals.py-5
  .container
    h2.block-title(class="text-center mb-4") 敦泰有為
    .text-center.mb-4
      p 敦勉誠篤、永續安泰，
      p 個用心耕耘的建築團隊、一個您可以安居信賴的企業，
      p 份以永續與國際眼光經營建築的初衷。
      p Our ideal is still continue...
  .bg
    .container
      ul.row
        each item, index in idealDatas
            li.d-flex.col-lg-4.col-md-6(class=(index == 3 ? 'd-xs-none': ''))
              +card02(item)
