.introducer_bg
  .introducer_block.container
    h2.title.text-center 創辦人介紹
    .row
      .col-md-6
        .introducer_img.text-center
          img(src="../../../images/home04_Introducer.png")
      .col-md-6
        .introducer_body
          strong 創辦人 楊世裕 
            small 先生 
          p 敦泰建設創立於2013年6月﹔出身中部知名企業家族、建築業家學淵源背景，旅美多年回國，沒有選擇在富三代的舒適圈中安穩度日，而選擇實現自己的建築及創業理念，創立了敦泰建設。
          
          strong 學歷
          p 美國德州州立大學 企業暨會計碩士
            br
            | 東海大學政治系 學士
            br
            | 美國註冊會計師
            br
            | 國家地政士考試合格
            br
            | 不動產經紀人考試合格
          strong 經歷
          p 美國LPX會計師事務所
            br
            | 美國Jene's Collection 營運暨財務副總
            br
            | 太日東龍建設開發股份有限公司 副董事長
          strong 扶輪社經歷
          p 台中東海扶輪社
            br
            | 台中黎明扶輪社 創設秘書，第二屆社長
          .introducer_btn.text-center
            a(href="/about") 關於敦泰
          