.slogan_block_wrapper
    .row.flex-column-reverse.flex-md-row
        .col-md-6.d-flex.justify-content-center.align-items-center.flex-wrap
            .slogan_wrapper
                .slogan 誠之者，</br>擇善而固執之者也
                .description 當世界風起雲起，遠見者泰然處之，只因成竹早在胸中。</br>敦泰建設面對建築時亦然，不隨景氣沈浮其心志，</br>以誠相待、傾力而為，執善念、擇善境、築善居。
        .col-md-6
            img(src="../../../images/home-slogan.png", alt="")