.contact_block.contact_bg
  h2.text-center 聯絡我們
  p.text-center 若您對我們公司有興趣或疑問，
    br
    | 歡迎隨時來信聯絡，我們會盡快回覆您。
  .contact_form
    form.row(action="",method="")
      .col-sm-6
        .field_wrap
           label(for="name") 姓名：
           input#name(type="text")
      .col-sm-6
        .field_wrap
           | 性別：
           input(type="radio", name="gender", value="male" checked) 
           | 男
           input(type="radio", name="gender", value="female") 
           | 女 
      .col-sm-6
        .field_wrap
           label(for="phone") 電話：
           input#phone(type="text")
      .col-sm-6
        .field_wrap
           label(for="email") 信箱：
           input#email(type="email")
      .col-sm-6
        .field_wrap
           label(for="subject") 主旨：
           input#subject(type="text")
      .col-sm-6
        .field_wrap
           label(for="verification") 驗證碼：
           input#verification(type="text") 
           span.verification_code VIVK
      .col-xs-12
        .field_wrap
          label(for="textarea") 您的意見：
          textarea#textarea(name="", cols="30", rows="10")
      .col-xs-12
        input(type="submit" value="送出")

    
  

  