footer#footer
    .content_wrapper
        .logo
            img(src="../../../images/footer_logo.png", alt="", width="200")
        .row_wrapper
            .row
                .col-md-6
                    .wrapper.h3.font-weight-normal
                        .country 台中市西屯區
                        .road 市政路386號16樓之1
                        .mail service@gvreg.com
                .col-md-6
                    .wrapper.h3.font-weight-normal
                        .phone 電話：04-22593191
                        .fax 傳真：04-22595191
                        .24housr 24小時客服：0800-328-168
    .copyright.small 建議瀏覽器版本為IE9.0以上，本網站內容享有著作權，禁止侵害，違者必究。 2018 敦泰建設
    
