header.fixed-top
    nav.navbar-light.bg-light
        button(data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu")
            img.open(src="./src/images/navbar-collapse-open.png", width="100" alt="")
            img.close(src="./src/images/navbar-collapse-close.png", width="100" alt="")
        a.navbar-brand(href='/')
            img(src='./src/images/brand.png', width="150", alt='')
        a.logo(href='/')
            img(src='./src/images/logo.png', width="40", alt='')
    .menu_wrapper.collapse#collapseMenu
        ul.menu
            li.menu_item
                a(href="/") 最新消息
            li.menu_item
                a(href="/") 關於我們
            li.menu_item
                a(href="/") 建案介紹
            li.menu_item
                a(href="/") 會員專區
            li.menu_item
                a(href="/") 聯絡我們