extends ../../layouts/default.pug

block head
    title 最新消息

block content
    
    include blocks/banner
    
    .bg01.py-5
        h1(style="display:none") 最新消息
        h2.block-title(class="text-center mb-5 text-white") 最新消息
        
        .d-flex.justify-content-center
          include blocks/tab3
        
        include blocks/news
  
  
