extends ../../layouts/default.pug

block head
    title 首頁

block content
    include blocks/slogan.pug
    include blocks/brand.pug
    include blocks/news.pug
    include blocks/introducer.pug
    include blocks/quality.pug
    include blocks/ideals.pug
    include blocks/contact.pug
