extends ../../layouts/default.pug

block head
    title 扶뒬매

block content
    h1(style="display:none") 扶뒬매
    include blocks/slogan.pug
    include blocks/brand.pug
    include blocks/news.pug
    include blocks/introducer.pug
    include blocks/quality.pug
    include blocks/ideals.pug
    include blocks/contact.pug
