//
// Background
//
.bg01{
  background-image: url("./../images/bg01.png");
  background-color: #4E413B;
}

//
// Button
//

a.btn-radius, .btn-radius {
  color: #EA5717;
  border-radius: 25px;
  border:2px solid #EA5717;
  padding:10px 30px;
}
