extends ../../layouts/default.pug

block head
    title 關於我們

block content
    include blocks/banner.pug
    h1(style="display:none") 關於我們
    include blocks/origination.pug
    include blocks/introduction.pug
