extends ../../layouts/default.pug

block head
    title 聯絡我們

block content
    include blocks/banner.pug
    .bg01(style="padding: 110px 0px;")
        .container
            include blocks/content.pug
            


