.origination-block
  .container
    .row.origination-wrap
      .col-12.col-xl-6
        .bg-wrap.bg-primary
          .text.text-white 敦泰的初心，是秉持著敦勉篤實的精神，為社會建造安泰、永續的建築與環境。
      .col-12.col-xl-6
        .origination
          .title.text-primary.mb-2 敦泰有自 Origination
          .text 秉持著對建築的理想與情感，懷抱著於傳承的榮耀中開創新局的抱負與願景，敦泰建設，是一個充滿年輕的活力與熱情，並兼具優良歷史與建築血統之團隊，由建築家學淵源、三代家族企業歷史背景的旅美歸國創辦人，於2013年獨立創立。
    .row.mb-5
      .col-12.col-xl-4
        .values.mb-2.mb-xl-0
          .title.text-primary.mb-2 敦泰有心 Corporate Values
          .box.border.border-primary.text.p-5 
            p 敦勉誠篤，永續安泰。 
            p 秉持良心，以與人及大地為 善之初衷為本心，以敦勉篤 實為態度，以創造並永續人 與環境之繁榮安泰為使命。
      .col-12.col-xl-8
        .goals.mb-2.mb-xl-0
          .title.text-primary.mb-2 敦泰有願 Corporate Goals
          .box.border.border-primary.p-5 
            .row
              .col-12.text
                p 以國際視野宏觀及人本精神謙虛思考，建構不斷自我超 越之專業團隊，無時無刻最 高標準之自我要求，建立永續之品牌價值，成為為客戶創造高品質產品，為社會創造價值之卓越地產開發建設機構。
                p 在創辦人之經營計畫下，敦泰建設已於台中市十二期之 精華地帶，取得近千坪土地，於2013年開始邁向精品建築市場。
    .row
      .col-12
        .strategy
          .title.text-primary.mb-2 敦泰有方 Corporate Strategy
          .box.border.border-primary.p-5
            .row
              .col-12.col-md-6
                ul.items
                  li.item.d-block.mb-2 ◆ 尊重人與大地
                  li.item.d-block.mb-2 ◆ 尊重工匠、尊重技藝
                  li.item.d-block.mb-2 ◆ 堅持工藝的傳承、歷史與藝術的品味與追求
                  li.item.d-block.mb-2 ◆ 挑戰一切的創新與突破
                  li.item.d-block.mb-2 ◆ 承諾安全、幸福與品質的保障
              .col-12.col-md-6
                ul.items
                  li.item.d-block.mb-2 ◆ 致力於百分之百的客戶滿意度
                  li.item.d-block.mb-2 ◆ 建築歷史過程完整、公開紀錄
                  li.item.d-block.mb-2 ◆ SOP及ERP的全面系統化及標準化管理模式，以科學方式提升效率及追求最高品質。
                  li.item.d-block.mb-2 ◆ 細節的深入與精準的嚴格要求