extends ../../layouts/default.pug

block head
    title 建案介紹

block content
    include blocks/banner.pug
    h1(style="display:none") 建案介紹
    include blocks/brand.pug
    include blocks/about.pug
    include blocks/sider.pug
    include blocks/product.pug
    
